In [2]:
%ls

datasets-20220420T233904Z-001/  README.md  requirements.txt  Untitled.ipynb

In [1]:
%ls datasets/datasets/

adult.csv                  census.csv     nhanes_2015_2016.csv
airline_data.csv           coches.csv     pokemon.csv
antropometria00.csv        cwurData.csv   reg_data.csv
antropometria-dataset.csv  data.csv       sample_pivot.csv
Book3.csv                  headbrain.csv  tips.csv
Canada.xlsx                mic2.xlsx      weight-height.csv
Cartwheeldata.csv          movies.csv

# Variable Types

In [2]:
type(None)

NoneType

In [3]:
import pandas as pd
import math

In [4]:
pip install pandas

Requirement already satisfied: pandas in /srv/conda/envs/notebook/lib/python3.7/site-packages (1.0.4)
Requirement already satisfied: pytz>=2017.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.13.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (1.18.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
aList = [2,3,4,5]

In [6]:
aList

[2, 3, 4, 5]

In [7]:
print(*aList)

2 3 4 5

In [8]:
for i in aList:
    print(i, '\t', type(i))

2 	 <class 'int'>
3 	 <class 'int'>
4 	 <class 'int'>
5 	 <class 'int'>

In [9]:
number = [1,2,3,4, math.pi]
number

[1, 2, 3, 4, 3.141592653589793]

In [10]:
sum(number)

13.141592653589793

In [11]:
len(number)

5

In [12]:
sum(number)/len(number)

2.6283185307179586

In [13]:
type(sum(number))

float

In [14]:
3**10

59049

In [15]:
6*10**(-1)

0.6000000000000001

In [16]:
(6*10)**(-1)

0.016666666666666666

# Variable Type

1. Numerical
2. Categorical

In [17]:
'2012'*3

'201220122012'

In [18]:
x=5
y=7
if x < y:
    print('{} is less than {}'.format(x,y))
else:
    print('x is greatar than y')

5 is less than 7

In [19]:
booList = [True, 6>10, 1==3, None is None]

In [20]:
bList = ['d','a','b','c']
bList.sort()
bList[:2]
bList[2:]

['c', 'd']

In [21]:
%ls datasets/datasets

adult.csv                  census.csv     nhanes_2015_2016.csv
airline_data.csv           coches.csv     pokemon.csv
antropometria00.csv        cwurData.csv   reg_data.csv
antropometria-dataset.csv  data.csv       sample_pivot.csv
Book3.csv                  headbrain.csv  tips.csv
Canada.xlsx                mic2.xlsx      weight-height.csv
Cartwheeldata.csv          movies.csv

In [22]:
path = 'datasets/datasets/Cartwheeldata.csv'
df = pd.read_csv(path)
df

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56,F,1,Y,1,62.00,61.0,79,Y,1,7
1,2,26,F,1,Y,1,62.00,60.0,70,Y,1,8
2,3,33,F,1,Y,1,66.00,64.0,85,Y,1,7
3,4,39,F,1,N,0,64.00,63.0,87,Y,1,10
4,5,27,M,2,N,0,73.00,75.0,72,N,0,4
5,6,24,M,2,N,0,75.00,71.0,81,N,0,3
6,7,28,M,2,N,0,75.00,76.0,107,Y,1,10
7,8,22,F,1,N,0,65.00,62.0,98,Y,1,9
8,9,29,M,2,Y,1,74.00,73.0,106,N,0,5
9,10,33,F,1,Y,1,63.00,60.0,65,Y,1,8
10,11,30,M,2,Y,1,69.50,66.0,96,Y,1,6
11,12,28,F,1,Y,1,62.75,58.0,79,Y,1,10
12,13,25,F,1,Y,1,65.00,64.5,92,Y,1,6
13,14,23,F,1,N,0,61.50,57.5,66,Y,1,4
14,15,31,M,2,Y,1,73.00,74.0,72,Y,1,9
15,16,26,M,2,Y,1,71.00,72.0,115,Y,1,6
16,17,26,F,1,N,0,61.50,59.5,90,N,0,10
17,18,27,M,2,N,0,66.00,66.0,74,Y,1,5
18,19,23,M,2,Y,1,70.00,69.0,64,Y,1,3
19,20,24,F,1,Y,1,68.00,66.0,85,Y,1,8
20,21,23,M,2,Y,1,69.00,67.0,66,N,0,2
21,22,29,M,2,N,0,71.00,70.0,101,Y,1,8
22,23,25,M,2,N,0,70.00,68.0,82,Y,1,4
23,24,26,M,2,N,0,69.00,71.0,63,Y,1,5
24,25,23,F,1,Y,1,65.00,63.0,67,N,0,3

In [23]:
x= df.columns
x=x.tolist()
x.sort()
x

['Age',
 'CWDistance',
 'Complete',
 'CompleteGroup',
 'Gender',
 'GenderGroup',
 'Glasses',
 'GlassesGroup',
 'Height',
 'ID',
 'Score',
 'Wingspan']

# loc and iloc

## loc 
    df.Loc[rowStart:rowEnd, ColumnStart:ColumnEnd] # IDNames

## iloc 
    df.Loc[rowStart:rowEnd, ColumnStart:ColumnEnd] # ID_Indices

In [24]:
df.loc[:5,'CWDistance']

0    79
1    70
2    85
3    87
4    72
5    81
Name: CWDistance, dtype: int64

In [25]:
df.iloc[:5, 8]

0    79
1    70
2    85
3    87
4    72
Name: CWDistance, dtype: int64

In [26]:
df.loc[:5,'CWDistance':'Score']

   CWDistance Complete  CompleteGroup  Score
0          79        Y              1      7
1          70        Y              1      8
2          85        Y              1      7
3          87        Y              1     10
4          72        N              0      4
5          81        N              0      3

In [27]:
df.loc[:5,['CWDistance','Score']]

   CWDistance  Score
0          79      7
1          70      8
2          85      7
3          87     10
4          72      4
5          81      3

In [28]:
df.Gender.unique()

array(['F', 'M'], dtype=object)

In [31]:
df.groupby(['Gender','GenderGroup']).size()

Gender  GenderGroup
F       1              12
M       2              13
dtype: int64